* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: url(./mountain.jpg) no-repeat center;
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.brghtness-box {
  width: 400px;
  height: 60px;
  background: #f9f9f9;
  border-radius: 70px;
  padding: 0 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.minus,
.plus {
  cursor: pointer;
  transition: 0.3s;
}

.minus:hover,
.plus:hover {
  font-size: 22px;
}

.brghtness-box i {
  margin: 0 10px;
}

#range {
  width: 100%;
  -webkit-appearance: none;
  background: #0a85ff;
  height: 3px;
  outline: none;
}

#range::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #444;
  border-radius: 50%;
}
